<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"       
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layouts/layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    </head>
    <body>
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" th:fragment="sidebar">
          <div class="app-brand demo">
            <!-- <a href="index.html" class="app-brand-link"> -->
              
              <span class="app-brand-text demo menu-text fw-bold ms-2">PROJET CRUD</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-item active open">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Dashboards">Dashboards</div>
              </a>
            <!-- Forms -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Elements">Rôles</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/roles/create}" class="menu-link">
                    <div data-i18n="Basic Inputs">Create role</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/roles}" class="menu-link">
                    <div data-i18n="Input groups">Liste role</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Layouts">Users</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/pages/create}" class="menu-link">
                    <div data-i18n="Vertical Form">create users</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/pages}" class="menu-link">
                    <div data-i18n="Horizontal Form">liste user</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Layouts">Authentification</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/pages/registration/login}" class="menu-link">
                    <div data-i18n="Vertical Form">login</div>
                  </a>
                </li>
              </ul>
            </li>
            

          </ul>
        </aside>
    </body>
</html>
